
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                  <li><a href="index.html#/menu">Menu</a></li>
                   <li class="active">Menu</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Menu</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-xs-12" ng-if="!showMenu">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showMenu">
                 <button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right"
                    type="button">
                    {{showDetails ? 'Hide Details':'Show Details'}}
                </button>
                 <button ng-click="toggleFavorites()" class="btn btn-xs btn-primary pull-right"
                    type="button">
                    {{showFavorites ? 'Hide Favorite Button':'Show Favorite Button'}}
                </button>
                 <button ng-click="toggleCarts()" class="btn btn-xs btn-primary pull-right"
                    type="button">
                    {{showCarts ? 'Hide Cart Button':'Show Cart Button'}}
                </button>
               <div class="form"><small>Search: &nbsp; 
                            <input type="text" ng-model="filtText2">
                   </small>
                </div>
             <ul class="nav nav-tabs" role="tablist" >
                    <li role="presentation"><a role="tab" ng-click="clear()"
                    >All</a></li>
                    <li ng-repeat="dish in dishes"  role="presentation" ng-class="{active:isSelected(dish.category)}">
                    <a role="tab" ng-click="select2(dish.category)"
                    >{{dish.category}}</a></li>
                </ul>
                <div class="tab-content">
                    
                
               <ul class="media-list tab-pane fade in active">
                <li class="media" ng-repeat="dish in dishes | filter:filtText| orderBy:orderText|filter:filtText2">
                    <div class="media-left media-middle">
                        <a ui-sref="app.dishdetails({id: dish._id})">
                        <img class="media-object img-thumbnail"
                        ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                        <span class="label label-danger label-xs">{{dish.label}}</span>
                        <span class="badge">{{dish.price/100 | currency}}</span></h2>
                        <p ng-show="showDetails">{{dish.description}}</p>
                         <button  ng-show="showFavorites" ng-click="addToFavorites(dish._id)" class="btn btn-xs btn-default pull-right"
                    type="button">
                          <i class="fa fa-heart"></i>
                        </button>
                         <button ng-show="showCarts" ng-click="addToCarts(dish._id)" class="btn btn-xs btn-default pull-right"
                    type="button">
                          <i class="glyphicon glyphicon-shopping-cart"></i>
                        </button>
                    </div>
                </li>
            </ul>

            </div>
            </div>
        </div>

    </div>
